.CardItem {
    width: 150px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: rgb(59, 51, 94);
    border: 5px inset #e1e1e1;
    border-radius: 10px;
}

.Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
    color:hsl(26deg, 77%, 59%) ;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    color: hsl(26deg, 77%, 59%);
}

.ButtonDetail {
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: rgb(98, 95, 109);
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: hsl(26deg, 77%, 59%);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.ItemFooter {
    display: flex;
    justify-content: center;
}